<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org/">
  <head>
    <meta charset="UTF-8">
    <title>bluesclues</title>
    <!-- Stylesheets -->
    <!-- Local -->
    <link rel="stylesheet" type="text/css" href="./stylesheet.css" />
    <!-- CDN -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
  </head>
  <body ng-app="bluesclues">
    <article class="container">
        <h1 class="card card-container text-center">bluesclues</h1>

        <section class="card card-container" ng-controller="BluescluesController">
            <form name="codeForm" ng-submit="submitForm(codeForm.$valid)" novalidate>
                <div class="form-group" ng-class="{ 'has-error' : showValidationMessages && codeForm.digits.$invalid && !codeForm.digits.$pristine }">
                    <label for="codeInput" class="sr-only">Code:</label>
                    <input code id="codeInput" type="text" name="digits" class="form-control" ng-model="code.digits"
                           placeholder="Gib den Code ein!" ng-minlength="6" ng-maxlength="6" code-validation required autofocus/>

                    <span popover-placement="bottom" class="error" ng-show="codeForm.digits.$error.minlength">Der Code ist zu kurz!</span>
                    <span popover-placement="bottom" class="error" ng-show="codeForm.digits.$error.maxlength">Der Code ist zu lang!</span>

                    <button class="btn btn-primary" type="submit" ng-click="showDetails = ! showDetails && codeForm.$valid && code.digits && !codeForm.digits.$error.invalidCode" value="abschicken">abschicken</button>
                    <!--
                                <button class="btn btn-default pull-right" data-ng-click="reset()">zurücksetzen</button>
                    -->
                    <br />

                    <!--            <span class="error" ng-show="codeForm.digits.$error.minlength">Falscher Code!</span>
                                <span class="error" ng-show="codeForm.digits.$error.maxlength">Falscher Code!</span>-->
                    <span ng-show="codeForm.$valid.$pending">Überprüfe Code...</span>

                    <!--TODO: debug stuff-->

                    <br />
                    code:{{code.digits}}
                    <br />
                    codeError:{{codeForm.digits.$error}}
                    <br />
                    codeValid:{{codeForm.digits.$valid}}


                </div>
            </form>

            <form>
                <div ng-class="{ 'hidden': ! showDetails }">
                    <label>Frage:</label>
                    <input type="radio" name="answer" value="answer1">Antwort1</input>
                    <input type="radio" name="answer" value="answer2">Antwort2</input>
                    <input type="radio" name="answer" value="answer3">Antwort3</input>
                    <input type="radio" name="answer" value="answer4">Antwort4</input>
                </div>
            </form>
        </section>
    </article>

    <!-- Load Javascript -->
    <!-- Vendor -->
    <script type="text/javascript" src="js/libs/vendor/angular/angular.js"></script>

    <!-- App -->
    <script type="text/javascript" src="js/app.js"></script>
  </body>
</html>
