<!DOCTYPE html>
<html ng-app="bluesclues" xmlns:ng="http://angularjs.org/">
  <head>
    <meta charset="UTF-8">
    <title>Ostercamp</title>
    <!-- Stylesheets -->
    <!-- Local -->
    <link rel="stylesheet" type="text/css" href="./stylesheet.css" />
    <!-- CDN -->
    <link rel="stylesheet" type="text/css" href="./js/libs/vendor/bootstrap/dist/css/bootstrap.css" />
  </head>

  <body>
    <article class="container" ng-controller="CluesController as cluesCtrl">
        <h1 class="card card-container text-center">
            <img src="images/Ostercamp.png" class="img-responsive">
        </h1>

        <section class="card card-container">
            <form name="codeForm" ng-submit="codeForm.$valid && cluesCtrl.validateCode(inputCode)" novalidate>
                <div class="form-group">
                    <label for="codeInput" class="sr-only">Code:</label>
                    <input id="codeInput"
                           type="text"
                           name="digits"
                           class="form-control"
                           ng-model="cluesCtrl.inputCode"
                           placeholder="Gib den Code ein!"
                           ng-minlength="6" ng-maxlength="6"
                           ng-change="question = null"
                           required autofocus/>

                    <button class="btn btn-primary" type="submit" ng-click="codeForm.$valid" value="abschicken">abschicken</button>
                </div>
            </form>

        </section>

        <section class="card card-container" ng-show="question != null && codeForm.$valid">
            <form name="questionForm" >
                <div>
                    <label>Frage:</label>
                    <p>{{question.question}}</p>

                    <div class="input-group">
                        <span class="input-group-addon">
                            <input ng-model="question.selected" ng-disabled="question.selected" type="radio" name="{{question.code}}" value="a">
                        </span>
                        <p class="form-control">{{question.answers[0].a}}</p>
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon">
                            <input ng-model="question.selected" ng-disabled="question.selected" type="radio" name="{{question.code}}" value="b">
                        </span>
                        <p class="form-control">{{question.answers[1].b}}</p>
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon">
                            <input ng-model="question.selected" ng-disabled="question.selected" type="radio" name="{{question.code}}" value="c">
                        </span>
                        <p class="form-control">{{question.answers[2].c}}</p>
                    </div>

                    {{question.selected === question.correctAnswer ? "Richtig!" : null}}
                </div>
            </form>
        </section>

    </article>

    <footer class="footer">
        <div class="clues-footer pull-right">
            <img src="images/png_Logo_horizontal_pantone-301-U_A4.png" class="img-responsive adventure-logo">
        </div>
    </footer>

    <!-- Load Javascript -->
    <!-- Vendor -->
    <script type="text/javascript" src="js/libs/vendor/angular/angular.js"></script>
    <script type="text/javascript" src="js/libs/vendor/angular-ui-bootstrap-bower/ui-bootstrap.js"></script>

    <!-- App -->
    <script type="text/javascript" src="data/data.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
  </body>
</html>
