/**
 * ******************************************************************************************************
 *
 *   Bluesclues
 *
 *  Stylesheet
 *
 *  @author     banielTimes
 *  @date       March 2015
 *
 * ******************************************************************************************************
 */

.md-whiteframe-z1 {
    width: 350px;
    padding: 40px 40px;
}
.card {
    /* just in case there is no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
}
.header {
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 75px;
}
.question {
    border: none;
}
.clues-footer {
    width: 30%;
}
.adventure-logo {
    padding: 10px;
}
